[Unit]
Description=CO2 Monitor Daemon
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/start_co2mond

[Install]
WantedBy=multi-user.target
